<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.rongcloud.kitdemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name="cn.rongcloud.kitdemo.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChatRoomKit">
        <activity
            android:name="cn.rongcloud.kitdemo.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="cn.rongcloud.kitdemo.chatroomkit.ChatRoomKitActivity" />
        <activity android:name="cn.rongcloud.kitdemo.musiccontrolkit.MusicControlKitActivity" />

        <meta-data
            android:name="HIFIVE_APPID"
            android:value="${HIFIVE_APPID}" />
        <meta-data
            android:name="HIFIVE_SERVERCODE"
            android:value="${HIFIVE_SERVERCODE}" />
    </application>

</manifest>